.header-main{
  background-image: url('../../../Image/group.png');
  height: 480px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.8;

}
.header-search {
  margin-top: 200px;
  color: blanchedalmond;
  text-align: -webkit-center;
}
